* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main section {
  display: flex;
  flex-direction: column;
}

main section:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*body > main {
  margin-top: 3rem;*/

body > main > section:nth-child(1) > a {
  background-color: rgb(24, 129, 250);
}
body > header {
  margin-bottom: 3rem;
}
body > main > section:nth-child(1) {
  margin-left: 3rem;
}
