* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}

html {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  color: white;
}
header a {
  margin: 1rem;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 3rem;
}
p {
  margin-bottom: 2rem;
}
main a {
  display: block;
  background-color: aqua;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 50%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}
h1 {
  font-size: 5rem;
  text-align: right;
}
section {
  flex-grow: 1;
}
